.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    padding: 10px;
}


.container p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
